<article class="main-text">
 
<h1>Um ráðstefnuna</h1>

<p>Hampfélagið kynnir með stolti sína aðra ráðstefnu; Hampur fyrir framtíðina. Fimm ár eru liðin síðan fyrsta ráðstefna félagsins sem fram fór með miklum glæsibrag í ráðstefnusal Grand Hótel. Ráðstefnan verður að þessu sinni haldin í Salnum í Kópavogi og teygir ráðstefnan sig nú yfir tvo daga, þar sem verður fjallað um iðnaðarhamp fyrri daginn og þann seinni um lyfjahamp.</p>
<p>Með ráðstefnunni vonumst við til að geta opnað frekar á samtalið um möguleikana og tækifærin sem felast í bæði iðnaðar- og lyfjahampi og tengja saman ólíka hagsmunaaðila, á borð við löggjafa- og framkvæmdarvaldið, heilbrigðisstarfsfólk, rannsakendur,  fagfólk í iðnaðinum og landbúnaði sem og annað áhugafólk.</p>
<p>Athugið að ráðstefnan fer fram á ensku.</p>
  <br>

</article>
