<article class="main-text">
 
<h1>Um Hampfélagið</h1>
<p>Hampfélagið eru samtök stofnuð til að fræða og miðla þeim ávinningi sem hlýst af nýtingu hamps fyrir betri og sjálfbærri framtíð.</p>
  <p>Hampfélagið var stofnað í september árið 2019 af Þórunni Þórs Jónsdóttur, Gísla Ragnari Bjarnasyni og Sigurði Hólmari Jóhannessyni. Stjórn félagsins mynda þau Þórunn Þórs Jónsdóttir, Sigurður Hólmar Jóhannesson, Margrét Irma Jónsdóttir, Gunnar Wiium og Sigríður Hrönn Sigurðardóttir. Bakgrunnur stjórnarmanna er ólíkur en saman mynda þau sterka heild og deila sameiginlegri hugsjón, þar sem eiginleikar allra nýtast til að vinna að markmiðum félagsins.</p>
  <p>Hampfélagið eru félagasamtök stofnuð með það að markmiði að fræða og miðla upplýsingum um notkunarmöguleika, eiginleika og jákvæð áhrif hamps á hringrásarkerfið og sjálfbærni möguleika grænnar þjóðar. Með fræðslu teljum við að mögulegt sé að ná settu takmarki félagsins: Að tryggja að plantan og allar afurðir hennar verði gerð lögleg og aðgengileg öllum ásamt því að finna henni náttúrulegan farveg.</p>
  <p>Árið 2019 stóð Hampfélagið að sínu fyrsta málþingi, Hampur fyrir framtíðina, þar sem áhersla var lögð á að fræða samfélagið um notkunarmöguleika hamps og eiginleika hans, stofna til umræðu á fordómalausum grundvelli. Málþingið fór fram á Grand Hótel í Reykjavík vakti gríðarlega athygli en yfir 300 einstaklingar sóttu viðburðinn og yfirfylltu fundarsalinn. Síðan þá hefur mikið vatn runnið til sjávar; ræktun á iðnaðarhampi var gerð lögleg árið 2020 og hefur ræktendum fjölgað ár frá ári og við höfum sýnt fram á að rækta megi hamp við íslenskar aðstæður með góðum árangri.</p>
  <br>

</article>
