<h1>Hampur fyrir framtíðina</h1> 

<h2>11.-12. október, 2024 | Kópavogur, Ísland</h2>


<p>Velkomin á vefsíðu ráðstefnunnar Hampur fyrir framtíðina sem Hampélgaið stendur fyrir á haustmánuðum 2024. Þetta er önnur ráðstefna Hampfélagsins. Ráðstefnan verður haldin í Salnum í Kópavogi og stendur í tvo daga þann 11. og 12. október næstkomandi. Umfjöllunarefnin er tvö; iðnaðarhampur annars vegar og lyfjahampur hins vegar. Fjöldi sérfræðingar í iðnaðinum hafa boðað komu sína, bæði innlendir og erlendir. Samhliða ráðstefnunni verða í boði fjölmargir áhugaverðir hliðarviðburðir.
</p>
<br />

<h2>Um ráðstefnuna</h2>

<p>Hampfélagið kynnir með stolti sína aðra ráðstefnu; Hampur fyrir framtíðina. Fimm ár eru liðin síðan fyrsta ráðstefna félagsins fór fram með miklum glæsibrag í ráðstefnusal Grand Hótel. Að þessu sinni verður ráðstefnan haldin í Salnum í Kópavogi og teygir ráðstefnan sig nú yfir tvo daga, þar sem fjallað verður um iðnaðarhamp fyrri daginn og lyfjahamp þann seinni. 
 
Með ráðstefnunni vonumst við til að geta opnað á frekara á samtal um þá möguleika og tækifæri sem felast í iðnaðar- og lyfjahampi. Markmiðið er tengja saman ólíka hagsmunaaðila meðal annars löggjafar- og framkvæmdavaldið, heilbrigðisstarfsfólk, rannsakendur, fagfólk í iðnaðinum sem og áhugafólk
  </p>
