<div class="schedule-container">
            <h2>Dagskrá</h2>
            <div class="day-schedule">
                <h3>Day 1 - 11 Október - Iðnaðarhampur</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Tími</th>
                            <th>Viðburður</th>
                            <th>Umræðuefni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8:30 - 9:00</td>
                            <td>Skráning & Kaffi</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9:00 - 11:45</td>
                            <td>Tilkynnt síðar</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11:45 - 12:45</td>
                            <td>Hádegismatur</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12:45 - 14:55</td>
                            <td>Tilkynnt síðar</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>14:55 - 15:20</td>
                            <td>Kaffi</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>15:20 - 17:40</td>
                            <td>Tilkynnt síðar</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="day-schedule">
                <h3>Day 2 - 12 Október - Lyfjahampur</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Tími</th>
                            <th>Viðburður</th>
                            <th>Staðsetning</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8:30 - 9:00</td>
                            <td>Skráning & Kaffi</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9:00 - 11:45</td>
                            <td>Tilkynnt síðar</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11:45 - 12:45</td>
                            <td>Hádegismatur</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12:45 - 14:55</td>
                            <td>Tilkynnt síðar</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>14:55 - 15:20</td>
                            <td>Kaffi</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>15:20 - 17:40</td>
                            <td>Tilkynnt síðar</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
