<article class="main-text">
 
<h1>About the Conference</h1>
<p>The Icelandic Hemp Association is proud to announce the second "Hemp for the Future" conference, building on the success of our inaugural event in 2019. Our goal is to bring forward the legalization of medical cannabis, and to foster discussions on the possibilities, benefits, and market opportunities within the hemp and cannabis sectors by bringing together industry leaders, policymakers, researchers, industry professionals and enthusiasts.</p>
<br>
</article>
