<div class="schedule-container">
            <h2>Schedule</h2>
            <div class="day-schedule">
                <h3>Day 1 - 11 October - Industrial Hemp</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Event/Speaker</th>
                            <th>Topic</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8:30 AM - 9:00 AM</td>
                            <td>Coffee</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9:00 AM - 11:45 AM</td>
                            <td>TBD</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11:45 AM - 12:45 PM</td>
                            <td>Lunch</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12:45 PM - 2:55 PM</td>
                            <td>TBD</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2:55 PM - 3:20 PM</td>
                            <td>Coffee</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3:20 PM - 5:40 PM</td>
                            <td>TBD</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="day-schedule">
                <h3>Day 2 - 12 October - Medical hemp</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Event/Speaker</th>
                            <th>Topic</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8:30 AM - 9:00 AM</td>
                            <td>Coffee</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9:00 AM - 11:45 AM</td>
                            <td>TBD</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11:45 AM - 12:45 PM</td>
                            <td>Lunch</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12:45 PM - 2:55 PM</td>
                            <td>TBD</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2:55 PM - 3:20 PM</td>
                            <td>Coffee</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3:20 PM - 5:40 PM</td>
                            <td>TBD</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
