body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.logo-container {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.logo {
    width: 400px;
}

.main-text {
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 60px;
}

.hamburger-menu {
    display: none;
    font-size: 1.5em;
    font-color: black;
    color: black;
    cursor: pointer;
}

.navbar-container {
    border-top: 5px solid darkgreen;
    padding-top: 20px;
}

.language-selector {
    margin-right: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.language-flag {
  width: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
	color: green;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .logo {
      width: 90%;
  }
    .hamburger-menu {
        display: block;
    }
    .navbar-container {
        display: none;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    nav ul li {
        margin: 10px 0;
    }
}
